#homeTitle {
    -webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.homeCarousel {
  /*max-height: 400px*/
}

.homeCarPic {
  max-width: 600px;
  height: 300px;
  margin-bottom: 5%;
}

video {
  margin: 0 auto;
  display: block;
  width: 100%;
  margin-top: 10%;
}

figcaption {
	text-align: center;
	margin-bottom: 12%;
}

#faceGatorHome {
	display: block;
	margin: 80px auto 0px auto;
	text-align: center
}

@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}


@media only screen and (min-width: 768px) {
  video {
    width: 50%;
  }

  #faceGatorHome {
    margin-top: 190px;
  }
}


